body{font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 900;
    color: rgb(24, 23, 23);
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    font-weight: 550;
}
.orange{
    color: orange;
}
.grey{
    color: gray;
}
.sideways{
    display: flex;
}
.mid {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width {
    width: 50%;
    padding:5%;
    
}
.half-width img {
    width: 90%;
}
.button {
   text-decoration: none;
   background-image: linear-gradient(orange, tomato);
   padding: 10px 40px;
   color: white;
   font-weight: 700;
   border-radius: 20px;
}
.three-side{
    width: 33.33%;
    padding: 3%;
}
.three-side img {
    width: 100%;
}
.box{
    box-shadow: 5px 5px 20px gainsboro;
    margin: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 20px;
}
.align{
   margin: auto;
   text-align: center;
    width: 50%;
}
.footer{ width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}
#footer-paragraph{
    color: white;
}
.about-padding{
    padding-right: 20%;}
